body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}

/* Headings */
.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Title */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  position: relative;
}

.feature-title {
  font-family: "Montserrat";
  font-size: 1.5rem;
}

.feature-image {
  color: #ef8172;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.feature-image:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 5%;
}

/* Testimonials */
.tertimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* Press */
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin-right: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding 3% 2%;
}

/* CTA */
/* Footer */
.footer-icon {
  margin-left: : 1%;
}

@media (max-width :1000px) {
  #title {
    text-align: center;
  }

  .title-image {
    transform: rotate(0deg);
    position: static;
  }
}
